.education__summary {
  padding: 0.25rem;
  height: 100%;
  .title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 12px;
  }
  article {
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    gap: 12px;
  }
}

.profile__summary__container {
  height: 100%;
  padding: 0.25rem;
  .title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 12px;
  }
  article {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0.25rem;
    section {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
